//SETTINGS TOUT LES LANGAGES GENERAUX
@font-face {
  font-family: "font-1";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

$color1: yellow;
$color2: red;
$color4: green;
$font1: "font-1", sans-serif;
// MIXINS
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: $color4;
  font-family: $font1;
}
